@import "./vars.scss";
@import "./spinner.scss";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap";

* {
    margin: 0;
    padding: 0;
}

body,
input {
    font-family: Inter;
    background: $bg;
    color: $fg;
}

input {
    border: 2px solid white;
    border-radius: $border-radius;
    padding: 10px;
    outline: none;
}

header {
    padding: 2rem 0;
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
            color: $svg-hover;
        }
    }

    .weather-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        .weather {
            border: 2px solid white;
            border-radius: $border-radius;
            padding: $def-padding;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .info,
            .sunrise-sunset {
                display: block;
            }
        }
    }
}

.search-bar {
    padding: $def-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;
        gap: 10px;
    }
}
