@import "./vars.scss";
@import "./spinner.scss";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap";

* {
    margin: 0;
    padding: 0;
}

body,
input {
    font-family: Inter;
    background: $bg;
    color: $fg;
}

input {
    border: 2px solid white;
    border-radius: $border-radius;
    padding: 10px;
    outline: none;
}

header {
    padding: 2rem 0;
    text-align: center;
}

.icon-value {
    display: flex;
    gap: $icon-gap;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;

    svg {
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
            color: $svg-hover;
        }
    }

    .weather-list {
        max-width: 30rem;

        .weather {
            width: 100%;
            display: flex;

            .description {
                margin-bottom: 10px;
            }

            .wind-speed,
            .temp,
            .sunrise-sunset div {
                @extend .icon-value;
            }

            .sunrise-sunset {
                align-items: center;
                display: flex;
                gap: $elements-gap;
            }
        }
    }
}

.search-bar {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $elements-gap;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;
        gap: 10px;
    }
}
